.intro__title{
  font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 1.07;
    /* identical to box height, or 107% */
}


@media (max-width: 768px) {
  .intro__title {
    /*font-size: calc((100vw - Vmin)/(Vmax - Vmin) * (Fmax - Fmin) + Fmin);*/
    padding: 28px calc((100vw - 320px) / (768 - 320)*(24 - 16) + 16px) 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
