.intro {
  padding: 92px 0 148px;
  max-width: 984px;
  margin: 0 auto;
}


@media (max-width: 1280px) {
  .intro {
    /* font-size: calc((100vw - Vmin)/(Vmax - Vmin) * (Fmax - Fmin) + Fmin);*/
  margin:0 calc((100vw - 1024px) / (1280 - 1024)*(148 - 48) + 48px);

  }
}

@media (max-width: 1024px) {
  .intro {
  /* font-size: calc((100vw - Vmin)/(Vmax - Vmin) * (Fmax - Fmin) + Fmin);*/
    margin:0 calc((100vw - 768px) / (1024 - 768)*(48 - 24) + 24px);
  }
}

@media (max-width: 768px) {
  .intro {
    /*font-size: calc((100vw - Vmin)/(Vmax - Vmin) * (Fmax - Fmin) + Fmin);*/
  margin: 0 calc((100vw - 320px) / (768 - 320)*(24 - 16) + 16px);
  padding-top: calc((100vw - 320px) / (768 - 320)*(96 - 64) + 64px);
    ;
  }
}*/
